.iconButton{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    outline: none;
    border: none;
    fill: var(--color-icon);
    transition: fill 0.15s ease-in-out;

    &:hover{
        fill: var(--color-icon-hover);
    }
}

.iconButton-text-content{
    display: block;
    width: fit-content;
    color: var(--color-font);
}