:root {
    font-family: Inter;
    line-height: 1.5;
    font-weight: 400;
    box-sizing: border-box;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: .15s;

    --basic-color-font: #121212;
    --inverse-color-font: #f5f5f5;

    --basic-color-link: #121212;
    --inverse-color-link: #f5f5f5;
    --basic-color-link-hover: #b1d4ff;
    --inverse-color-link-hover: #005ad8;

    --basic-background: #f5f5f5;
    --inverse-background: #121212;

    --basic-color-icon: #131313;
    --inverse-color-icon: #f6f6f6;
    --basic-color-icon-hover: #005ad8;
    --inverse-color-icon-hover: #b1d4ff;

    --basic-background-button: #d9d9d9;
    --inverse-background-button: #232323;

    --basic-color-border: #818181;
}

[data-theme=dark]{
    --basic-color-font: #f5f5f5;
    --inverse-color-font: #121212;

    --basic-color-link: #f5f5f5;
    --inverse-color-link: #121212;
    --basic-color-link-hover: #005ad8;
    --inverse-color-link-hover: #b1d4ff;

    --basic-background: #121212;
    --inverse-background: #f5f5f5;

    --basic-color-icon: #f6f6f6;
    --inverse-color-icon: #131313;
    --basic-color-icon-hover: #b1d4ff;
    --inverse-color-icon-hover: #005ad8;

    --basic-background-button: #232323;
    --inverse-background-button: #d9d9d9;

    --basic-color-border: #818181;
}

body {
    transition: background-color 0.15s ease-in-out,
    color 0.15s ease-in-out,
    border-bottom-color 0.15s ease-in-out,
    border-top-color 0.15s ease-in-out,
    border-left-color 0.15s ease-in-out,
    border-rigth-color 0.15s ease-in-out,
    fill 0.15s ease-in-out;
    background-color: var(--basic-background);
    color: var(--basic-color-font);
}

@font-face {
    font-family: 'Inter';
    src: url("./shared/fonts/Inter.ttf") format('truetype-variations');
    font-weight: 300 700;
}
