.localeItem {
    display: block;
    background: var(--basic-background-button);
    border: none;
    outline: none;
    color: var(--basic-color-font);
    border-radius: 5px;
    font-size: 18px;
    min-width: 100px;
    padding: 7px;
    margin: 5px auto;
}

.localeItemActive {
    background: var(--basic-background-button-active);
}